<!-- app/views/recipes/edit.html.erb -->

<h1>Edit Recipe</h1>

<%= form_for(@recipe) do |f| %>
  <!-- Add form fields for editing recipe attributes -->
  <%= f.label :name %>
  <%= f.text_field :name %>

  <!-- Add other form fields as needed -->

  <%= f.submit "Update Recipe" %>
<% end %>
