<div class="recipes-list">
    <ul class= "recipe-item-list">
        <% @recipes.each do |recipe| %>
            <li class="recipe-item">
                <div class="recipe-item-para">
                    <h3> <%= recipe.name%></h3>
                    <button><%= link_to 'Remove' , url_for(action: 'destroy' , id: recipe.id ) , data: {turbo_method: :delete}%></button>
                </div>
                <div>
                    <p> <%= recipe.description%></p>
                </div>
            </li>
        <%end%>
    </ul>
</div>